<h1>Checkout</h1>
<h2>Thank You!</h2>
<p>You have just placed an order.</p>

<table>
  <thead>
    <tr>
      <th>Order Reference</th>
    </tr>
  </thead>

  <tbody>
      <% @orders.limit(1).order(id: :desc).each do |order| %>  
      <tr>
        <td><%= order.id %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Item(s)</th>
    </tr>
    </thead>

  <tbody>
      <% @total = 0 %>
      <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%=number_to_currency(item.price, :unit => "€")%></td> 
        <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
      </tr>
       
        <% timx = (item.quantity * item.price)%> 
        
        <% @total += timx %>
      
      </tr>
    <% end %>
 
  </tbody>
  
  <table>
      <thead>
        <tr>
        <th>Order Total</th>
    
        </tr>
      </thead>
    <tbody>
      
       <tr>
        <td> &euro; <%= @total %></td>
        
        <% shipping = 5 %>
       <% @overall = shipping + @total%>
       
       
      </tr>
      
      <tr>
          <td>Shipping &euro;5
          </td>
          </tr>
      <tr>
          <td>You Pay &euro; <%= @overall %>
      </td>
      </tr>
         <td><h2>  <a href="/paid">Pay Now</a></h2></td>
        
        </tr>
    </tbody>
    
    </table>
  
 </table>

